{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        CareerPath
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

    <div class="app-layout">

        <!-- Sidebar -->

        <aside class="sidebar">

            <div class="sidebar-logo">
                <h2>CareerPath</h2>
                <span>Career Guidance</span>
            </div>


            <nav class="sidebar-nav">

    {% if user.is_authenticated and user.profile.role == "mentor" %}

        <!-- MENTOR SIDEBAR -->

        <a href="{% url 'mentor_dashboard' %}">
            🏠 Dashboard
        </a>

        <a href="{% url 'mentor_workshops' %}">
    🎓 My Workshops
</a>

        <a href="{% url 'mentor_queries' %}">
            💬 Student Queries
        </a>

        <a href="{% url 'mentor_profile' %}">
            👤 Profile
        </a>

    {% else %}

        <!-- STUDENT SIDEBAR -->

        <a href="{% url 'dashboard' %}">
            🏠 Dashboard
        </a>

        <a href="{% url 'my_queries' %}">
            💬 My Queries
        </a>

        <a href="{% url 'mentor_list' %}">
            👨‍🏫 My Mentors
        </a>

        <a href="{% url 'my_sessions' %}">
            📅 My Sessions
        </a>

        <a href="#">
            🧭 Career Roadmap
        </a>

        <a href="{% url 'profile' %}">
            👤 Profile
        </a>

        <a href="#">
            ⚙️ Settings
        </a>

    {% endif %}

</nav>

            <div class="sidebar-bottom">

                <a href="{% url 'logout' %}">
                    🚪 Logout
                </a>

            </div>

        </aside>


        <!-- Main Content -->

        <main class="main-content">

            {% block content %}

            {% endblock %}

        </main>

    </div>

</body>

</html>